*.iml
target
.idea
classes
*.log
*.DS_Store
*all.sql
tmp/
**/*.pid
**/.act*
**/.classpath
**/.settings
**/.project
**/.project
**/.settings/
fullstack-app/helloworld/_sys_start.do.not.delete
fullstack-app/helloworld/act_start.id
