<html>
<head>
  <title data-th-text="${title}"></title>
</head>
<body>
<h1><span data-th-text="${_app.name()}"></span> - <span data-th-text="${title}"></span></h1>
<p>
  Hello <span data-th-utext="${who}"></span>
</p>

<div style="display: none;">
  <div data-th-fragment="opt (engine)">
    <a data-th-href="'/' + ${#strings.toLowerCase(engine)} + '?who=' + ${engine}">Say hello in <span data-th-text="${engine}"></span></a>
  </div>

  <div data-th-fragment="optInline (engine)">
    <a data-th-href="'/' + ${#strings.toLowerCase(engine)} + '/inline'">Say hello inline <span data-th-text="${engine}"></span></a>
  </div>

  <div data-th-fragment="optError (engine)">
    <a data-th-href="'/' + ${#strings.toLowerCase(engine)} + '/error'">Trigger error in <span data-th-text="${engine}"></span> engine</a>
  </div>

  <div data-th-fragment="optRuntimeError (engine)">
    <a data-th-href="'/' + ${#strings.toLowerCase(engine)} + '/error/runtime'">Trigger runtime error in <span data-th-text="${engine}"></span> engine</a>
  </div>
</div>

<ul>
  <li data-th-insert=":: opt ('Rythm')"></li>
  <li data-th-insert=":: opt ('Beetl')"></li>
  <li data-th-insert=":: opt ('Freemarker')"></li>
  <li data-th-insert=":: opt ('Velocity')"></li>
  <li data-th-insert=":: opt ('Mustache')"></li>

  <li>---</li>
  <li data-th-insert=":: optInline ('Rythm')"></li>
  <li data-th-insert=":: optInline ('Beetl')"></li>
  <li data-th-insert=":: optInline ('Freemarker')"></li>
  <li data-th-insert=":: optInline ('Velocity')"></li>
  <li data-th-insert=":: optInline ('Mustache')"></li>
  <li data-th-insert=":: optInline ('Thymeleaf')"></li>

  <li>---</li>
  <li data-th-insert=":: optError ('Rythm')"></li>
  <li data-th-insert=":: optError ('Beetl')"></li>
  <li data-th-insert=":: optError ('Freemarker')"></li>
  <li data-th-insert=":: optError ('Mustache')"></li>
  <li data-th-insert=":: optError ('Velocity')"></li>
  <li data-th-insert=":: optError ('Thymeleaf')"></li>

  <li>---</li>
  <li data-th-insert=":: optRuntimeError ('Rythm')"></li>
  <li data-th-insert=":: optRuntimeError ('Beetl')"></li>
  <li data-th-insert=":: optRuntimeError ('Freemarker')"></li>
  <li data-th-insert=":: optRuntimeError ('Mustache')"></li>
  <li data-th-insert=":: optRuntimeError ('Velocity')"></li>
  <li data-th-insert=":: optRuntimeError ('Thymeleaf')"></li>

  <li>---</li>
  <li>
    <a href="/e500">Demonstrate backend server error reporting on dev mode</a>
  </li>
</ul>
</body>

</html>