<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>${title}</title>
</head>
<body>
<h1>${@_app.name()} - ${title}</h1>
<p>
  Hello ${who}
</p>
<ul>
 
  <#opt engine="Rythm"/>
  <#opt engine="FreeMarker"/>
  <#opt engine="Velocity"/>
  <#opt engine="Mustache"/>
  <#opt engine="Thymeleaf"/>

  <%if(_app.dev) {%>
  <li>---</li>
  <#optError engine="Rythm"/>
  <#optError engine="Beetl"/>
  <#optError engine="FreeMarker"/>
  <#optError engine="Velocity"/>
  <#optError engine="Thymeleaf"/>
  <%}%>

  <li>---</li>
  <#optErrorRuntime engine="Rythm"/>
  <#optErrorRuntime engine="Beetl"/>
  <#optErrorRuntime engine="FreeMarker"/>
  <#optErrorRuntime engine="Velocity"/>
  <#optErrorRuntime engine="Thymeleaf"/>
  <li>---</li>

  <li>
    <a href="/e500">Demonstrate backend server error reporting on dev mode</a>
  </li>
</ul>
</body>

</html>