<html>
<head>
  <title>${title}</title>
</head>
<body>
<h1>${_app.name()} - ${title}</h1>
<p>
  Hello ${who}
</p>
<ul>
  #macro(opt $engine)
    <li>
      <a href="/${engine.toLowerCase()}?who=${engine}">Say hello in ${engine}</a>
    </li>
  #end

  #macro(optError $engine)
  <li>
    <a href="/${engine.toLowerCase()}/error">Trigger error in ${engine} template</a>
  </li>
  #end

  #macro(optErrorRuntime $engine)
  <li>
    <a href="/${engine.toLowerCase()}/error/runtime">Trigger runtime error in ${engine} template</a>
  </li>
  #end

  #opt("Rythm")
  #opt("Beetl")
  #opt("FreeMarker")
  <li>---</li>
  #optError("Rythm")
  #optError("Beetl")
  #optError("FreeMarker")
  #optError("Velocity")
  <li>---</li>
  #optErrorRuntime("Rythm")
  #optErrorRuntime("Beetl")
  #optErrorRuntime("FreeMarker")
  #optErrorRuntime("Velocity")
  <li>---</li>
  <li>
    <a href="/e500">Demonstrate backend server error reporting on dev mode</a>
  </li>
</ul>
</body>

</html>