<html>
<head>
  <title>{{title}}</title>
</head>
<body>
<h1>{{appName}} - {{title}}</h1>
<p>
  Hello {{who}}
</p>
<ul>
  <li>
    <a href="/rythm?who=Rythm">Say hello in Rythm</a>
  </li>
  <li>
    <a href="/beetl?who=Beetl">Say hello in Beetl</a>
  </li>
  <li>
    <a href="/freemarker?who=FreeMarker">Say hello in FreeMarker</a>
  </li>
  <li>
    <a href="/velocity?who=Velocity">Say hello in Velocity</a>
  </li>
  <li>
    <a href="/thymeleaf?who=Thymeleaf">Say hello in Thymeleaf</a>
  </li>
  <li>---</li>
  <li>
    <a href="/rythm/inline">Say hello inline Rythm</a>
  </li>
  <li>
    <a href="/beetl/inline">Say hello inline Beetl</a>
  </li>
  <li>
    <a href="/freemarker/inline">Say hello inline FreeMarker</a>
  </li>
  <li>
    <a href="/mustache/inline">Say hello inline Mustache</a>
  </li>
  <li>
    <a href="/velocity/inline">Say hello inline Velocity</a>
  </li>
  <li>
    <a href="/thymeleaf/inline">Say hello inline Thymeleaf</a>
  </li>
  <li>---</li>
  <li>
    <a href="/rythm/error">Trigger error in Rythm</a>
  </li>
  <li>
    <a href="/beetl/error">Trigger error in Beetl</a>
  </li>
  <li>
    <a href="/freemarker/error">Trigger error in FreeMarker</a>
  </li>
  <li>
    <a href="/mustache/error">Trigger error in Mustache</a>
  </li>
  <li>
    <a href="/velocity/error">Trigger error in Velocity</a>
  </li>
  <li>
    <a href="/thymeleaf/error">Trigger error in Thymeleaf</a>
  </li>
  <li>---</li>
  <li>
    <a href="/rythm/error/runtime">Trigger runtime error in Rythm</a>
  </li>
  <li>
    <a href="/beetl/error/runtime">Trigger runtime error in Beetl</a>
  </li>
  <li>
    <a href="/freemarker/error/runtime">Trigger runtime error in FreeMarker</a>
  </li>
  <li>
    <a href="/mustache/error/runtime">Trigger runtime error in Mustache</a>
  </li>
  <li>
    <a href="/velocity/error/runtime">Trigger runtime error in Velocity</a>
  </li>
  <li>
    <a href="/thymeleaf/error/runtime">Trigger runtime error in Thymeleaf</a>
  </li>
  <li>---</li>
  <li>
    <a href="/e500">Demonstrate backend server error reporting on dev mode</a>
  </li>
</ul>
</body>

</html>